{% load i18n static %}{% load humanize %}
<div class="modal fade" role="dialog" id="id_profile_friend_list_for_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'I\'m a friend For ...' %}</h4>
            </div>
            <div class="modal-body">
                {% for friend in friend_list %}
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <a href="{% url 'accounts:profile.detail' username=friend.writer.username %}">{{ friend.writer.username }}</a><br/>
                {% empty %}
                <p class="text-muted"><i>No friend exists yet.</i></p>
                {% endfor %}
                {% if is_paginated %}
                    <ul class="pager">
                        {% if page_obj.has_previous %}
                            <li><a href="{% url 'accounts:friend.list' %}?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        <li><a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                        {% if page_obj.has_next %}
                            <li><a href="{% url 'accounts:friend.list' %}?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="#" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i> {% trans 'Cancel' %}
                </a>
                <input class="btn btn-theme" type="submit" value="{% trans 'Submit' %}"/>
            </div>
        </div>
    </div>
</div>




