{% extends "accounts/base_site.html" %}
{% load i18n static %}{% load humanize %}
{% load widget_tweaks %}

{% block content_title %}<h1>{{ friend.writer.username }}'s {% trans 'Friend' %}</h1>{% endblock %}
{% block content_menu %}
    <a href="{% url 'accounts:friend.list' username=friend.writer.username %}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> {% trans 'List' %}</a>
    {% if friend.writer == request.user and request.user.is_staff %}
        <a href="{% url 'accounts:friend.update' username=friend.writer.username pk=friend.id %}" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>{% trans 'Update' %}</a>
        <a href="{% url 'accounts:friend.delete' username=friend.writer.username pk=friend.id %}" class="btn btn-danger" id="button-delete"><i class="fa fa-trash" aria-hidden="true"></i> {% trans 'Delete' %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
        {{ friend.id }}:  {{ friend.writer.username }} -> {{ friend.friend.writername }}
    </div>
{% endblock %}