{% extends "resume/base_site.html" %}
{% load i18n static %}{% load humanize %}
{% load widget_tweaks %}

{% block content_title %}<h1>{% trans 'Create Contact' %}</h1>{% endblock %}
{% block content_menu %}
<a href="{% url 'resume:index' %}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> {% trans 'Resume' %}</a>
{% endblock %}

{% block content %}
    <div class="col-lg-offset-2 col-lg-8">
        {% if '/contact/create/' in request.path %}
        <form class="form-horizontal" action="{% url 'resume:contact.create' %}" method="post" enctype="multipart/form-data">
        {% else %}
        <form class="form-horizontal" action="{% url 'resume:contact.update' pk=contact.pk %}" method="post" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">{{ form.email }}</div>
            <div class="form-group {% if form.phone1.errors %}has-error{% endif %}">{{ form.phone1 }}</div>
            <div class="form-group {% if form.phone2.errors %}has-error{% endif %}">{{ form.phone2 }}</div>
            <div class="form-group {% if form.website.errors %}has-error{% endif %}">{{ form.website }}</div>
            <input class="btn btn-theme" type="submit" value="{% trans 'Submit' %}"/>
        </form>
    </div>
{% endblock %}
