{% extends "resume/base_site.html" %}
{% load i18n static %}{% load humanize %}


{% block content_title %}<h1>{% trans 'Education' %}</h1>{% endblock %}
{% block content_menu %}
    <a href="{% url 'resume:index' %}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> {% trans 'Resume' %}</a>
{% endblock %}

{% block content %}
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>#</th>
        <th>School</th>
        <th>Website</th>
        <th>Location</th>
        <th>Degree</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    {% for education in education_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ education.school }}</td>
        <td>{{ education.website }}</td>
        <td>{{ education.location }}</td>
        <td>{{ education.degree }}</td>
        <td>{{ education.start_date }}</td>
        <td>{{ education.end_date }}</td>
        <td>{{ education.writer.username }}</td>
    </tr>
    {% empty %}
    <p class="text-muted"><i>No education exists yet.</i></p>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="{% url 'resume:education.list' %}?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li><a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
    {% if page_obj.has_next %}
    <li><a href="{% url 'resume:education.list' %}?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}