{% extends "resume/base_site.html" %}
{% load i18n static %}{% load humanize %}
{% load widget_tweaks %}

{% block content_title %}<h1>{% trans 'Create Skill' %}</h1>{% endblock %}
{% block content_menu %}
<a href="{% url 'resume:index' %}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> {% trans 'Resume' %}</a>
{% endblock %}

{% block content %}
    <div class="col-lg-offset-2 col-lg-8">
        {% if '/skill/create/' in request.path %}
        <form class="form-horizontal" action="{% url 'resume:skill.create' %}" method="post" enctype="multipart/form-data">
        {% else %}
        <form class="form-horizontal" action="{% url 'resume:skill.update' pk=skill.pk %}" method="post" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <div class="form-group {% if form.name.errors %}has-error{% endif %}">{{ form.name}}</div>
            <div class="form-group {% if form.level.errors %}has-error{% endif %}">{{ form.level }}</div>
            <input class="btn btn-theme" type="submit" value="{% trans 'Submit' %}"/>
        </form>
    </div>
{% endblock %}
